@charset "UTF-8";

div {
	/* border:solid; */
}

img {
	width: 100%;
}

.userProfile {
	width: 15%;
	margin-top: 3%;
	margin-left: 3%;
	margin-bottom: 6%;
	float: left;
}

.addBtns {
	max-width: 50%;
	float:left;
	margin-top: 3%;
	padding:20px;
}

.inline {
	display: inline;
	margin-left: 20px;
}

.margin {
	margin: 50px;
}

.com {
	width: 20%;
	max-width: 40%;
	margin-left: 3%;
	clear: left;
	float:left;
	border-radius: 25px;
	padding: 10px;
	background-color: #edc951;
}

.offer {
	float:left;
	width:40%;
	margin-left: 3%;
	margin-bottom: 10%;
	border-radius: 25px;
	padding: 10px;
	background-color: #eb6841;
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}






body {
    background-color: lightblue;
    margin: 0;
}

.divParent {
	padding: 20px; 
}

.divChild {
	width: 15%; 
}

.xSmallP {
	font-size: small;
	overflow-wrap: break-word;
}

.smallP {
	font-size: medium;
}

.divList {
	height: 100%; 
	margin-left: 30px;
	padding: 30px;
	margin-top: 40px;
	border: solid;
	border-radius: 10px;
	float: left;
}